<!DOCTYPE html>
<html>

<body>
  <h3>Add the Address</h3>

  <div>
    <form>
      <label for="countries"> Country </label>
      <input type="text" [(ngModel)]="countries" name="countries" placeholder="Your Country Name..">

      <label for="states">State </label>
      <input type="text" [(ngModel)]="states" name="states" placeholder="Your State Name..">

      <label for="cities">City</label>
      <input type="text" [(ngModel)]="cities" name="cities" placeholder="Your City Name..">

      <input type="submit" (click)="addAddress()" value="Submit">
    </form>
  </div>

</body>

</html>
