<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <button class="button button3" (click)="add()">Add Address</button>

  <table id="customers">
    <tr>
      <th>Country</th>
      <th>States</th>
      <th>Cities</th>
      <th>Actions</th>


    </tr>
    <tr *ngFor="let address of data">
      <td>{{address.countries}}</td>
      <td>{{address.states}}</td>
      <td>{{address.cities}}</td>
      <td> <i class="fa fa-edit" (click)="edit(address._id)" placeholder="Edit" style="font-size:48px;color:red;margin-left: 10%"></i>

        <i class="fa fa-trash-o" (click)="delete(address._id)" style="font-size:48px;color:red;margin-left: 34%;padding-bottom: 2%"></i>
      </td>

    </tr>

  </table>

</body>

</html>
